footer {
    position: fixed;
}

body {
    background-image: url(/assets/images/wallpaper.jpg);
}

.base {
    padding-left: 2vw;
}

.in-text {
    color: #fff;
    font-size: 2vh;
    margin-top: 1vh;
}

.event-list {
    background-color: #fff;
    background-color: #f0f7e9;
    border-radius: 15px;
    margin: 2vh 0.5vw 0 1vw;
    height: 8vh;
    font-size: 2.75vh;
    line-height: 2.5;
    text-align: center;
}

.event-list > a {
    text-decoration: none;
    color: #000;
}

.checked {
    background-color: #2870b8;
    color: #fff;
}

.checked > a {
    color: #fff;
}

button {
    margin-top: 2vh;
    margin-bottom: 4vh;
    cursor: pointer;
    color: #fff;
    background: none;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 2vh;
    border: 1px solid #70b828;
    transition: all 0.2s linear;
    font-size: 2vh;
}

button:hover {
    border-color: green;
    background-color: green;
}

button:focus {
    outline: none;
}

.participating {
    border-color: green;
    background-color: green;
}

.not-participating {
    border-color: green;
    background: none;
}

.panel {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    height: 38vh;
    width: 17vw;
    padding: 0vh 0.5vw;
    margin: 2vh 1vw;
    overflow-y: scroll;
}

.heading {
    color: #2870b8;
    font-size: 2vh;
    border-bottom: 1px solid #2870b8;
    padding: 1vh 0.5vw;
    position: fixed;
    background-color: #fff;
    width: 16vw;
}

.fill {
    height: 4vh;
}

.entry {
    clear: both;
    border-top: 1px solid #2870b8;
    padding: 2vh 0 6vh 0;
}

.pic > img {
    width: 4vh;
}

.identity {
    margin-left: 1vw;
    width: 13.9vw;
    line-height: 4vh;
}

.name {
    float: left;
    line-height: 4vh;
}

.follow {
    float: right;
    border-color: #2870b8;
    height: 3vh;
    font-size: 1.5vh;
    margin: 0;
    margin-top: 0.5vh;
    color: #2870b8;
    padding: 2px 0.5vw;
}

.follow:hover {
    border-color: #2870b8;
    background-color: #2870b8;
    color: #fff;
}

.following {
    background-color: #2870b8;
    color: #fff;
}
