#outer {
    padding-top: 9vh;
}

#slider {
    margin-top: 5vh;
    height: 31vh;
    background-color: white;
    padding-top: 1vh;
    overflow-x: scroll;
    white-space: nowrap;
}

.image {
    cursor: pointer;
    display: inline;
    height: 30vh;
    margin: 0 5px;
}

img {
    height: 30vh;
}

#form {
    margin: 5vh 10vw;
    padding: 5vh 5vw;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    display: inline-block;
}

.inp-txt {
    margin: 2vh 2vw;
    border: none;
    border-bottom: 1px solid black;
    height: 5vh;
    font-size: 2.5vh;
    padding: 0.5vh 1vw;
    background-color: white;
}

.inp-txt:focus {
    outline: none;
    border-bottom-color: #2870b8;
    color: #2870b8;
}

#center {
    align-content: center;
}

.button {
    cursor: pointer;
    margin: 4vh 2vw 2vh 2vw;
    padding: 1vh 1vw;
    font-size: 2.5vh;
    border-radius: 20px;
    background: none;
    border: none;
    border: 1px solid #2870b8;
    color: #2870b8;
    transition: all 0.12s linear;
}

.button:hover {
    background-color: #2870b8;
    color: white;
}

.button:focus {
    outline: none;
    background-color: #2870b8;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (min-width: 1081px) {
    .inp-txt {
        width: 30vw;
    }
    .button {
        width: 10vw;
    }
}

@media only screen and (max-width: 1080px) {
    #form {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .inp-txt {
        width: 80vw;
        font-size: 48px;
        height: 96px;
    }
    .button {
        width: 60vw;
        font-size: 48px;
    }
}
